.segmentedControl {
  width: 27.2rem;
  height: 4rem;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
    -0.2rem -0.2rem 0.5rem var(--white);
  border-radius: 1rem;
  display: flex;
  margin: 0.5rem 0;
  align-items: center;
  position: relative;
}

.segmentedControl input {
  display: none;
}

.segmentedControl > input:checked + label {
  transition: all 0.5s ease;
  color: var(--primary);
}

.segmentedControl1,
.segmentedControl2,
.segmentedControl3,
.segmentedControl4 {
  width: 6.8rem;
  height: 3.6rem;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--greyDark);
  transition: all 0.5s ease;
}

.segmentedControl1:hover,
.segmentedControl2:hover,
.segmentedControl3:hover,
.segmentedControl4:hover {
  color: var(--primary);
}

.segmentedControlColor {
  position: absolute;
  height: 3.4rem;
  width: 6.2rem;
  margin-left: 0.3rem;
  border-radius: 0.8rem;
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2),
    inset -0.2rem -0.2rem 0.5rem var(--white);
  pointer-events: none;
}

#left:checked ~ .segmentedControlColor {
  transform: translateX(0);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#center:checked ~ .segmentedControlColor {
  transform: translateX(6.8rem);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#right:checked ~ .segmentedControlColor {
  transform: translateX(13.6rem);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#justify:checked ~ .segmentedControlColor {
  transform: translateX(20.4rem);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
