.accordion {
  max-width: 500px;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  margin: 0.5rem;
}

.accordion__visible {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0.5rem;
  font-size: 1.2rem;
  color: var(--dark-2);
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 1.3rem;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
    -0.2rem -0.2rem 0.5rem var(--white);
  transition: 0.3s ease;
  animation-duration: 0.5s;
}
.accordion__visible:hover {
  color: var(--primary);
}

.accordion__title {
  margin: 0 1rem;
}

.accordion__visible img {
  width: 20px;
  height: 20px;
  transform: rotate(-90deg);
  transition: transform 0.2s ease-in-out;
}
.accordion__visible img.active {
  transform: rotate(0deg);
}

.accordion-toggle {
  height: 0px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, height 0.3s 0.3s ease-in-out;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.animated {
  opacity: 1;
  visibility: visible;
  transition: height 0.3s ease-in-out, opacity 0.3s 0.3s ease-in-out;
}
