.popupWrapper {
  width: 50%;
}
.popup {
  position: fixed;
  width: 50%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.8);
  top: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s; /* run in js */
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
}

.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.popup__content {
  color: #000;
  max-width: 800px;
  max-height: 100%;
  padding: 30px;
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.popup__close {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 30px;
  color: #c5c5c5;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.popup__title {
  font-size: 40px;
  margin: 0 0 1em 0;
}

.popup__text {
  margin: 0 0 1em 0;
}

.popup__link {
  display: block;
  width: 150px;
  position: relative;
  margin: auto;
  text-align: center;
  text-decoration: none;
  padding: 7px;
  color: #000;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2),
    -0.2rem -0.2rem 0.5rem var(--white);
}

.popup__link p {
  font-size: 1.4rem;
}

.popup__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1rem;
}
